/* Switcher CSS */
.switcher {
	position: fixed;
	top: 80px;
	left: -251px;
	z-index: 1080;
	width: 250px;
	padding-top: 15px;
	padding-bottom: 25px;
	text-align: center;
	border: 1px solid #ddd;
	background: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
}
.switcher .switch-h {
	position: absolute;
	left: 120%;
	top: 8px;
	width: 120px;
	text-align: center;
	color: #eee;
	background:#555;
	font-size: 13px;
	line-height:20px;
	border-radius:4px;
	padding:5px 0px;
	display:none;
}
.switcher .switch-h b{
	font-size:12px;
	display:block;
	font-weight:400;
	color:#bbb;
}
.switch-h:after, .switch-h:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.switch-h:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #555;
	border-width: 7px;
	margin-top: -7px;
}
.switch-h:before {
	border-color: rgba(221, 221, 221, 0);
	border-width: 8px;
	margin-top: -8px;
}
.switcher .switch {
	position: absolute;
	left: 100%;
	top: 13px;
	width: 35px;
	height: 38px;
	line-height: 37px;
	text-align: center;
	color: #9a9a9a;
	font-size: 18px;
	font-weight: bold;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.switcher hr { 
	margin-top: 15px;
	margin-bottom: 10px;
	border: 0; 
	border-top: 1px solid #eee;
}
.switcher  h4 {
	margin-top: 0;
	font-size: 18px;
	line-height: 20px;
}
.switcher  p {
	font-size: 14px;
	line-height: 20px;
	color: #878787;
}
.switcher .s-layout {
	border: 1px solid #ddd !important;
	outline: none;
	height: 30px;
	width: 160px;
	margin-top: 6px;
	padding: 0 5px;
	color: #767676;
	border-radius: 2px;
}
.switcher .s-pattern img,
.switcher .s-back-img img,
.switcher .s-color img{
	display: inline-block;
	margin: 0 3px;
	margin-top: 6px;
	border-radius: 2px;
}