.col-lg-12(ng-init='load()')
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-envelope
        span.break
        | Contatos enviados pelo site

    .box-content
          div(class='alert alert-{{ status.type }}', ng-show='status')
            button(type='button', class='close', data-dismiss='alert') &times;
            | {{ status.message}}

          div(class='alert alert-warning', ng-show='contatos.length == 0')
              | Você não possui nenhum e-mail de contato enviado pelo site

          table.table.table-striped.table-bordered.bootstrap-datatable.datatable(ng-show='contatos.length')
              thead
                  tr
                      td Nome
                      td E-mail
                      td Telefone
                      td Mensagem
                      td.col-md-1

              tbody
                  tr(ng-repeat='contato in contatos | pagination: curPage * pageSize | limitTo: pageSize')
                      td {{ contato.nome }}
                      td {{ contato.email }}
                      td {{ contato.telefone }}
                      td {{ contato.mensagem }}
                      td
                          button(class='btn btn-mini btn-danger', ng-click='delete(contato._id)')
                              span.fa.fa-trash-o &nbsp;

      .block.text-center(ng-show='contatos.length')
        ul.pagination.pagination-centered.inline.unstyled
          li
            a.btn.btn-link(ng-disabled='curPage === 0', ng-click='curPage = curPage - 1')
              | Voltar
          li
            span
              | Página {{ curPage + 1 }} de {{ paginas() }}
          li
            a.btn.btn-link(ng-disabled='curPage >= contatos.length / pageSize - 1', ng-click='curPage = curPage + 1')
              | Avançar