//
    Slider Start
.tp-banner-container(ng-init='load()')
  .tp-banner
    ul
      //
         SLIDE
      li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
        //
           MAIN IMAGE
        img(src='librinke/img/slider/slide2.jpg', alt='', data-bgfit='cover', data-bgposition='center bottom', data-bgrepeat='no-repeat')
        //
           LAYERS
        //
           LAYER NR. 1
        .tp-caption.lfl.largeblackbg.br-red(data-x='20', data-y='100', data-speed='1500', data-start='1200', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          | We Make Delicious...
        //
           LAYER NR. 2.0
        .tp-caption.lfl.medium_bg_darkblue.br-green(data-x='20', data-y='200', data-speed='1500', data-start='1800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power4.easeIn', data-captionhidden='off')
          | Consectetur Adipisicing
        //
           LAYER NR. 2.1
        .tp-caption.lfl.medium_bg_darkblue.br-lblue(data-x='20', data-y='250', data-speed='1500', data-start='2100', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          | Sed do Seusmod
        //
           LAYER NR. 2.2
        .tp-caption.lfl.medium_bg_darkblue.br-purple(data-x='20', data-y='300', data-speed='1500', data-start='2400', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          | Incididunt ut Labore
        //
           LAYER NR. 2.3
        .tp-caption.lfl.medium_bg_darkblue.br-orange(data-x='20', data-y='350', data-speed='1500', data-start='2700', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          | Excepteur Sint
        //
           LAYER NR. 3.0
        .tp-caption.customin.customout(data-x='right', data-hoffset='-50', data-y='100', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='400', data-start='3600', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 5;')
          img.slide-img.img-responsive(src='librinke/img/slider/s21.png', alt='')
        //
           LAYER NR. 3.1
        .tp-caption.customin.customout(data-x='right', data-hoffset='-120', data-y='130', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='400', data-start='3900', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 6;')
          img.slide-img.img-responsive(src='librinke/img/slider/s22.png', alt='')
        //
           LAYER NR. 3.2
        .tp-caption.customin.customout(data-x='right', data-hoffset='-10', data-y='160', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='400', data-start='4200', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 7;')
          img.slide-img.img-responsive(src='librinke/img/slider/s23.png', alt='')
        //
           LAYER NR. 3.3
        .tp-caption.customin.customout(data-x='right', data-hoffset='-80', data-y='190', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='400', data-start='4500', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 8;')
          img.slide-img.img-responsive(src='librinke/img/slider/s24.png', alt='')

      li(data-transition='zoomin', data-slotamount='6', data-masterspeed='400')
        //
           MAIN IMAGE
        img(src='librinke/img/slider/transparent.png', style='background-color: #fff;', alt='', data-bgfit='cover', data-bgposition='center bottom', data-bgrepeat='no-repeat')
        //
           LAYERS
        //
           LAYER NR. 1
        .tp-caption.sfl.modern_medium_light(data-x='20', data-y='90', data-speed='800', data-start='1000', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          | The New
        //
           LAYER NR. 1.1
        .tp-caption.large_bold_grey.heading.customin.customout(data-x='10', data-y='125', data-splitin='chars', data-splitout='chars', data-elementdelay='0.05', data-start='1500', data-speed='900', data-easing='Back.easeOut', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-endspeed='500', data-endeasing='Power3.easeInOut', data-captionhidden='on', style='z-index: 5;')
          | CakeFactory
        //
           LAYER NR. 2
        .tp-caption.customin.customout(data-x='right', data-y='100', data-customin='x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='2000', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          img.img-responsive(src='librinke/img/slider/s11.png', alt='')
        //
           LAYER NR. 2.1
        .tp-caption.customin.customout(data-x='right', data-y='100', data-customin='x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='2300', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          img.img-responsive(src='librinke/img/slider/s12.png', alt='')
        //
           LAYER NR. 2.2
        .tp-caption.customin.customout(data-x='right', data-y='100', data-customin='x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='2600', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          img.img-responsive(src='librinke/img/slider/s13.png', alt='')
        //
           LAYER NR. 2.3
        .tp-caption.sft(data-x='right', data-hoffset='-400', data-y='80', data-speed='1000', data-start='3000', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 10;')
          span.price-tag.br-white
            | 30%
            br
            | Off
        //
           LAYER NR. 3
        .tp-caption.finewide_verysmall_white_mw.paragraph.customin.customout.tp-resizeme(data-x='20', data-y='210', data-customin='x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='3600', data-easing='Power3.easeInOut', data-splitin='lines', data-splitout='lines', data-elementdelay='0.2', data-endelementdelay='0.08', data-endspeed='300', style='z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;')
          | Lorem ipsum dolor sit amet, consetetur
          br
          | sadipscing elitr, sed diam nonumy
          br
          | eirmod tempor invidunt ut labore et
          br
          | dolore magna aliquyam erat, sed diam
          br
          | voluptua. At vero eos et accusam.
        //
           LAYER NR. 4
        .tp-caption.sfb(data-x='20', data-y='335', data-speed='800', data-start='4500', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 11;')
          a.btn.btn-danger(href='#') Download
          a.btn.btn-success.hidden-xs(href='#') Purchase Now

      li(data-transition='slidehorizontal', data-slotamount='1', data-masterspeed='600')
        //
           MAIN IMAGE
        img(src='librinke/img/slider/transparent.png', style='background-color: #fea501;', alt='', data-bgfit='cover', data-bgposition='center bottom', data-bgrepeat='no-repeat')
        //
           LAYERS NR. 1
        .tp-caption.lfl(data-x='left', data-y='100', data-speed='800', data-start='1200', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Linear.easeNone', data-captionhidden='off')
          img.img-responsive(src='librinke/img/slider/s35.png', alt='')
        //
           LAYERS NR. 2
        .tp-caption.lfr.large_bold_grey.heading.white(data-x='right', data-hoffset='-10', data-y='120', data-speed='800', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Linear.easeNone', data-captionhidden='off')
          | Tasty Yammi
        //
           LAYER NR. 3
        .tp-caption.whitedivider3px.customin.customout.tp-resizeme(data-x='right', data-hoffset='-20', data-y='210', data-voffset='0', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='700', data-start='2300', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='500', style='z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;')
        //
           LAYER NR. 4
        .tp-caption.finewide_medium_white.randomrotate.customout.tp-resizeme(data-x='right', data-hoffset='-10', data-y='245', data-voffset='0', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2700', data-easing='Power3.easeInOut', data-splitin='chars', data-splitout='chars', data-elementdelay='0.08', data-endelementdelay='0.08', data-endspeed='500', style='z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;')
          | Hamburger
        //
           LAYER NR. 5
        .tp-caption.finewide_verysmall_white_mw.white.customin.customout.tp-resizeme.text-right.paragraph(data-x='right', data-hoffset='-10', data-y='300', data-customin='x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='3500', data-easing='Power3.easeInOut', data-splitin='lines', data-splitout='lines', data-elementdelay='0.2', data-endelementdelay='0.08', data-endspeed='300', style='z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;')
          | Lorem ipsum dolor sit amet, consetetur  sadipscing elitr,
          br
          | nonumy voluptu ansetetur  sadipscing elit.
          br
          | sed diam quisquam est nonumy voluptu vero eos et.

      li(data-transition='cube', data-slotamount='7', data-masterspeed='600')
        //
           MAIN IMAGE
        img(src='librinke/img/slider/slide2.jpg', alt='', data-bgfit='cover', data-bgposition='center bottom', data-bgrepeat='no-repeat')
        //
           LAYERS NR. 1
        .tp-caption.lfl(data-x='110', data-y='130', data-speed='800', data-start='1500', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power4.easeIn', data-captionhidden='off')
          img.img-responsive(src='librinke/img/slider/s31.png', alt='')
        //
           LAYERS NR. 2
        .tp-caption.lfl(data-x='80', data-y='265', data-speed='800', data-start='2200', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power4.easeIn', data-captionhidden='off')
          img.img-responsive(src='librinke/img/slider/s33.png', alt='')
        //
           LAYERS NR. 3
        .tp-caption.lfl(data-x='450', data-y='312', data-speed='800', data-start='2700', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power4.easeIn', data-captionhidden='off')
          img.img-responsive(src='librinke/img/slider/s34.png', alt='')
        //
           LAYERS NR. 4
        .tp-caption.sfr.thinheadline_dark.white(data-x='right', data-hoffset='-10', data-y='90', data-speed='800', data-start='3200', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
          | Online
        //
           LAYERS NR. 4.1
        .tp-caption.lfr.largepinkbg.br-green(data-x='right', data-hoffset='-10', data-y='135', data-speed='800', data-start='3500', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Linear.easeNone', data-captionhidden='off')
          | Seats Reserve
        //
           LAYERS NR. 5
        .tp-caption.skewfromright.medium_text.text-right.paragraph(data-x='right', data-hoffset='-10', data-y='225', data-speed='800', data-start='3800', data-easing='Power4.easeOut', data-endspeed='400', data-endeasing='Power4.easeOut', data-captionhidden='off')
          | At vero eos etntium accu amet, adipisicing samus iusto
          br
          | praese  delen itieos etconsectetur atque corrupti
          br
          | praese etntiumder delen itierrupti.
        //
           LAYERS NR. 6 //
        .tp-caption.lfr.modern_big_redbg.br-red(data-x='right', data-hoffset='-10', data-y='315', data-speed='1500', data-start='4100', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Linear.easeNone', data-captionhidden='off')
          | Desktop or Laptop
        //
           LAYERS NR. 6.1 //
        .tp-caption.lfr.modern_big_redbg.br-yellow(data-x='right', data-hoffset='-10', data-y='375', data-speed='1500', data-start='4400', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Linear.easeNone', data-captionhidden='off')
          | Tablet or Phone
    //
       Banner Timer
    .tp-bannertimer
//
   Slider End