{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules" : {
    "comma-dangle": [2, "never"],
    "indent": ["error", 2],
    "prefer-template": 2,
    "no-console": 1,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "prefer-arrow-callback": 1,
    "func-names": 0,
    "no-var": 1,
    "no-param-reassign": 1,
    "vars-on-top": 0,
    "import/no-dynamic-require": 0,
    "space-before-function-paren": 0,
    "camelcase": 0,
    "no-proto": 0,
    "class-methods-use-this": 0,
    "arrow-body-style": 1
  }
}
