extends ../layout

block conteudo
  //
     ======== @Region: #highlighted ========
  #highlighted
    .container
      .header
        h2.page-title
          span Parceiros
          small Nossos parceiros
  //
     ======== @Region: #content ========
  #content
    .container.portfolio
      ul#quicksand.thumbnails.row.block.projects
        each parceiro in parceiros
          li.col-md-3.web
              .project
                a.lnk-polaroid(href='/parceiros/#{parceiro._id}')
                  img.img-polaroid.img-responsive(ng-src='#{parceiro.imagem.url}', alt='logo')
                h3.title
                  a(href='/parceiros/#{parceiro._id}') #{parceiro.nome}
