.col-lg-12(ng-init='load()')
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-home
        span.break
        | Painel de Controle

    .box-content
      .block
        - var icons = {atuacao: 'bullhorn', clientes: 'briefcase', contato: 'envelope', curriculos: 'files-o', empregos: 'suitcase',  equipe: 'users', livros: 'book', orcamentos: 'money', parceiros: 'sitemap', servicos:'gears', sites: 'globe', slides: 'film', uniformes: 'female', usuarios: 'group' }

        h2 Bem vindo
