.col-lg-12
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-suitcase
        span.break
        | Vagas de Empregos
      .box-icon
        a.btn-plus(href='#/empregos/adicionar')
          i.fa.fa-plus

    .box-content
        .block
          div(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          form(ng-submit='add()', class='form-vertical', name='empregoForm', novalidate)
              include _form