.col-lg-12(ng-init='load()')
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-users
        span.break
        | Equipe
      .box-icon
        a.btn-plus(href='#/equipe/adicionar')
          i.fa.fa-plus

    .box-content
      .block
          div(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          div(class='alert alert-warning', ng-show='membros.length == 0')
              | Você não possui nenhum membro cadastrado, cadastre um &nbsp;
              a(href='#/equipe/adicionar') aqui

          table.table.table-striped.table-bordered.bootstrap-datatable.datatable(ng-show='membros.length')
              thead
                  tr
                      td.col-md-4 Nome
                      td.col-md-4 E-mail
                      td.col-md-2 Cargo
                      td.col-md-1

              tbody(ng-show='membros.length')
                  tr(ng-repeat='membro in membros | pagination: curPage * pageSize | limitTo: pageSize')
                      td {{ membro.nome }}
                      td {{ membro.email }}
                      td {{ membro.cargo }}
                      td
                          a(href='#/equipe/editar/{{ membro._id }}', class='btn btn-mini btn-success')
                              span.fa.fa-edit &nbsp;
                          button(class='btn btn-mini btn-danger', ng-click='delete(membro._id)')
                              span.fa.fa-trash-o &nbsp;

      .block.text-center(ng-show='membros.length')
        ul.pagination.pagination-centered.inline.unstyled
          li
            a.btn.btn-link(ng-disabled='curPage === 0', ng-click='curPage = curPage - 1')
              | Voltar
          li
            span
              | Página {{ curPage + 1 }} de {{ paginas() }}
          li
            a.btn.btn-link(ng-disabled='curPage >= membros.length / pageSize - 1', ng-click='curPage = curPage + 1')
              | Avançar

