extends ../layout

block conteudo
  //
     ======== @Region: #highlighted ========
  #highlighted
    .container
      .header
        h2.page-title
          span Banco de Currículos
          small Envie seu currículo
  //
     ======== @Region: #content ========
  #content(ng-controller='Curriculos', ng-init='load()')
    .container
      .block
        .row
          div.hidden(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          form#curriculo-form(ng-submit='add()', name='curriculoForm', novalidate)
              .col-sm-6
                  .form-group(ng-class="{ 'has-error' : curriculoForm.nome.$invalid && !curriculoForm.nome.$pristine }")
                    input.form-control(name='nome', id='nome', ng-model='curriculo.nome', ng-minlength=4, type='text', placeholder='Nome completo', required)
                    p(ng-show='curriculoForm.nome.$invalid && !curriculoForm.nome.$pristine', class='help-block') Nome muito curto ou inválido

                  .form-group(ng-class="{ 'has-error' : curriculoForm.email.$invalid && !curriculoForm.email.$pristine }")
                    input.form-control(name='email', id='email', ng-model='curriculo.email', type='email', placeholder='E-mail', required)
                    p(ng-show='curriculoForm.email.$invalid && !curriculoForm.email.$pristine', class='help-block') E-mail inválido

                  .form-group(ng-class="{ 'has-error' : curriculoForm.telefone.$invalid && !curriculoForm.telefone.$pristine }")
                    input.form-control(name='telefone', id='telefone', ng-model='curriculo.telefone', type='text', placeholder='Telefone', ui-br-phone-number)
                    p(ng-show='curriculoForm.telefone.$invalid && !curriculoForm.telefone.$pristine', class='help-block') Telefone inválido

                  .form-group(ng-class="{ 'has-error' : curriculoForm.celular.$invalid && !curriculoForm.celular.$pristine }")
                    input.form-control(name='celular', id='celular', ng-model='curriculo.celular', type='text', placeholder='Celular', ui-br-phone-number)
                    p(ng-show='curriculoForm.celular.$invalid && !curriculoForm.celular.$pristine', class='help-block') Celular inválido

                  .form-group
                    b
                      | Escala

                    .row.form-group(ng-class="{ 'has-error' : curriculoForm.escala.$invalid && !curriculoForm.escala.$pristine }")
                      .col-sm-6
                        input.inline(type='checkbox', name='escala[]', ng-model='curriculo.escala.segsex', ng-true='segsex', value='segsex', required)
                        | segunda a sexta-feira

                        br

                        input.inline(type='checkbox', name='escala[]', ng-model='curriculo.escala.manha', ng-true='manha', value='manha')
                        | manhãs

                        br

                        input.inline(type='checkbox', name='escala[]', ng-model='curriculo.escala.segsab', ng-true='segsab', value='segsab')
                        | segunda a sábado

                      .col-sm-6
                        input.inline(type='checkbox', name='escala[]', ng-model='curriculo.escala.tarde', ng-true='tarde', value='tarde')
                        | tardes

                        br

                        input.inline(type='checkbox', name='escala[]', ng-model='curriculo.escala.segseg', ng-true='segseg', value='segseg')
                        | segunda a segunda-feira

                        br

                        input.inline(type='checkbox', name='escala[]', ng-model='curriculo.escala.noite', ng-true='noite', value='noite')
                        | noite

                    p(ng-show='curriculoForm.escala.$invalid && !curriculoForm.escala.$pristine', class='help-block') Selecione uma escala

                    div(class='form-group', ng-class="{ 'has-error' : curriculoForm.arquivo.$invalid && !curriculoForm.arquivo.$pristine }", ng-hide='slide.arquivo.url')
                        label(class='control-label') Currículo
                        div(class='controls')
                            input(type='file', class='form-control', ng-file-select="onFileSelect($files)", required, ng-disabled='curriculoForm.$invalid', accept="application/pdf")
                            input(type='hidden', ng-model='slide.arquivo', name='arquivo')
                            p(ng-show='curriculoForm.arquivo.$invalid && !curriculoForm.arquivo.$pristine', class='help-block') arquivo é inválido
                            p.alert-info
                              | somente são aceitos arquivos no formato PDF

              .col-sm-6
                  .form-group(ng-class="{ 'has-error' : curriculoForm.endereco.$invalid && !curriculoForm.endereco.$pristine }")
                    input.form-control(type='text', placeholder='Endereço', ng-model='curriculo.endereco', required)
                    p(ng-show='curriculoForm.endereco.$invalid && !curriculoForm.endereco.$pristine', class='help-block') Informe seu endereço

                  .form-group(ng-class="{ 'has-error' : curriculoForm.bairro.$invalid && !curriculoForm.bairro.$pristine }")
                    input.form-control(type='text', placeholder='Bairro', ng-model='curriculo.bairro', required)
                    p(ng-show='curriculoForm.bairro.$invalid && !curriculoForm.bairro.$pristine', class='help-block') Informe o bairro

                  .form-group(ng-class="{ 'has-error' : curriculoForm.cep.$invalid && !curriculoForm.cep.$pristine }")
                    input.form-control(type='text', placeholder='CEP', ng-model='curriculo.cep', required, ui-br-cep-mask)
                    p(ng-show='curriculoForm.cep.$invalid && !curriculoForm.cep.$pristine', class='help-block') CEP é obrigatório

                  .form-group(ng-class="{ 'has-error' : curriculoForm.estado.$invalid && !curriculoForm.estado.$pristine }")
                    input.form-control(type='text', placeholder='Estado', ng-model='curriculo.estado', id='estado', required)
                    p(ng-show='curriculoForm.estado.$invalid && !curriculoForm.estado.$pristine', class='help-block') Informe o estado

                  .form-group(ng-class="{ 'has-error' : curriculoForm.cidade.$invalid && !curriculoForm.cidade.$pristine }")
                    input.form-control(type='text', placeholder='Cidade', ng-model='curriculo.cidade', id='cidade', required)
                    p(ng-show='curriculoForm.cidade.$invalid && !curriculoForm.cidade.$pristine', class='help-block') Informe a cidade

                  .form-group(ng-class="{ 'has-error' : curriculoForm.observacao.$invalid && !curriculoForm.observacao.$pristine }")
                    textarea.form-control(rows='5', placeholder='Mensagem Opcional', ng-model='curriculo.observacao', ng-minlength=5)
                    p(ng-show='curriculoForm.observacao.$invalid && !curriculoForm.observacao.$pristine', class='help-block') Observação muito curta

                  input.btn.btn-primary(type='submit', value='Avançar', ng-disabled='curriculoForm.$invalid')
