.col-lg-12(ng-init='load()')
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-home
        span.break
        | Painel de Controle

    .box-content
      .block
        h2 Bem vindo
