doctype html
html
    head
        meta(charset='utf-8')
        | &#x9;&#x9;
        title Publiciti - Distribuidora de Livros e Brinquedos Educativos

        // Description, Keywords and Author
        meta(name='description', content='Your description')
        | &#x9;&#x9;
        meta(name='keywords', content='publiciti,papelaria,material,didático,livro,dvd,brinquedo,educativo,distribuidora,livro')
        | &#x9;&#x9;
        meta(name='author', content='Thiago Paes - mrprompt@gmail.com')
        | &#x9;&#x9;
        | &#x9;&#x9;
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // Styles
        // Bootstrap CSS
        link(href='/publiciti/css/bootstrap.min.css', rel='stylesheet')
        // Font awesome CSS
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
        // Magnific Popup
        link(href='/publiciti/css/magnific-popup.css', rel='stylesheet')
        // Owl carousel
        link(href='/publiciti/css/owl.carousel.css', rel='stylesheet')
        // CSS for this page
        // Base style
        link(href='/publiciti/css/styles/style.css', rel='stylesheet')
        // Skin CSS
        link#color_theme(href='/publiciti/css/styles/skin-lblue.css', rel='stylesheet')
        // Custom CSS. Type your CSS code in custom.css file
        link(href='/publiciti/css/custom.css', rel='stylesheet')

        // Favicon
        link(rel='shortcut icon', href='/publiciti/img/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/publiciti/img/favicon.ico', type='image/x-icon')
    body
        // Outer Starts
        .outer
            // Top bar starts
            .top-bar
                .container
                    // Contact starts
                    .tb-contact.pull-left
                        // Email
                        i.fa.fa-envelope.color
                        |  &nbsp;
                        a(href='mailto:contato@publiciti.com.br') contato@publiciti.com.br
                        |  &nbsp; &nbsp;
                        // Phone
                        i.fa.fa-phone.color
                        |  &nbsp; (48) 3248-5414
                    // Contact ends

                    // Shopping kart starts
                    .tb-shopping-cart.pull-right
                        // Link with badge
                        a.btn.btn-white.btn-xs.b-dropdown(href='#')
                            i.fa.fa-shopping-cart
                            | &nbsp;
                            i.fa.fa-angle-down.color
                            | &nbsp;
                            span.badge.badge-color 5
                        // Dropdown content with item details
                        .b-dropdown-block
                            // Heading
                            h4
                                i.fa.fa-shopping-cart.color
                                |  Your Items
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            ul.list-unstyled
                                // Item 1
                                li
                                    // Item image
                                    .cart-img
                                        a(href='#')
                                            img.img-responsive(src='/publiciti/img/ecommerce/view-cart/1.png', alt='')
                                    // Item heading and price
                                    .cart-title
                                        h5
                                            a(href='#') Samsamgun galaxy some thing about.
                                        // Item price
                                        span.label.label-color.label-sm $1,900
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .clearfix
                                // Item 2
                                li
                                    .cart-img
                                        a(href='#')
                                            img.img-responsive(src='/publiciti/img/ecommerce/view-cart/2.png', alt='')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .cart-title
                                        h5
                                            a(href='#') Samsamgun galaxy some thing about.
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        span.label.label-color.label-sm $1,900
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .clearfix
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            a.btn.btn-white.btn-sm(href='#') View Cart
                            |  &nbsp;
                            a.btn.btn-color.btn-sm(href='#') Checkout
                    // Shopping kart ends

                    // Search section for responsive design
                    .tb-search.pull-left
                        a.b-dropdown(href='#')
                            i.fa.fa-search.square-2.rounded-1.bg-color.white
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .b-dropdown-block
                            form(role='form')
                                // Input Group
                                .input-group
                                    input.form-control(type='text', placeholder='Type Something')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span.input-group-btn
                                        button.btn.btn-color(type='button') Search
                    // Search section ends

                    // Social media starts
                    .tb-social.pull-right
                        .brand-bg.text-right
                            // Brand Icons
                            a.facebook(href='#')
                                i.fa.fa-facebook.square-2.rounded-1
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            a.twitter(href='#')
                                i.fa.fa-twitter.square-2.rounded-1
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            a.google-plus(href='#')
                                i.fa.fa-google-plus.square-2.rounded-1
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            a.linkedin(href='#')
                                i.fa.fa-linkedin.square-2.rounded-1
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            a.pinterest(href='#')
                                i.fa.fa-pinterest.square-2.rounded-1
                    // Social media ends
                    .clearfix
            // Top bar ends

            // Header two Starts
            .header-2
                // Container
                .container
                    .row
                        .col-md-2
                            // Logo section
                            .logo
                                h1
                                    a(href='/')
                                        img(src='/publiciti/img/logo-sem-escrita.png')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .col-md-9
                            // Navigation starts.
                            .navy
                                ul
                                    // Main menu
                                    li
                                        a(href='#') Brinquedos
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        ul
                                            li
                                                a(href='/produtos/') Alfabetização
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blockquote.html') Conhecimento do Mundo
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='box-shadow.html') Conhecimento Lógico Matemático
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='brave-components.html') Educativos
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='clients.html') Esportivos
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='counter.html') Expressão
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='typography.html') Inclusão
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='cta.html') Jogos
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='cta.html') Mobiliário
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='cta.html') Motricidade
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='cta.html') Orientação Espaçotemporal
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='cta.html') Painéis

                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Livros
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        ul
                                            li
                                                a(href='blog-one.html') Artes
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-two.html') Didático
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-three.html') DVD
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-four.html') Filosofia
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Infantil
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Literatura Geral
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Livros e Coleções
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Pedagógicos
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Psicologia
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Religioso
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-masonry.html') Trabalhos Manuais
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Materiais Esportivos
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        ul
                                            li
                                                a(href='blog-one.html') Acessórios
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-two.html') Bolas
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-three.html') Jogos
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-four.html') Motricidade
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Plástico
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Parques
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        ul
                                            li
                                                a(href='blog-one.html') Acessórios
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-two.html') Madeira
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-three.html') Metal
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-single.html') Plástico
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Outros
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        ul
                                            li
                                                a(href='blog-one.html') Globo
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-two.html') Religioso
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            li
                                                a(href='blog-three.html') Papelaria
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='/empresa') A Empresa
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='/contato') Contato
                            // Navigation ends
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .col-md-1
                            // Search section
                            .head-search.pull-right
                                a.b-dropdown(href='#')
                                    i.fa.fa-search.square-2.rounded-1.bg-color.white
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .b-dropdown-block
                                    form(role='form')
                                        // Input Group
                                        .input-group
                                            input.form-control(type='text', placeholder='Busca')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            span.input-group-btn
                                                button.btn.btn-color(type='button') Buscar
                            // Search section ends
                            .clearfix
            // Header two ends

            // Main content starts
            .main-block
            block conteudo
            // Main content ends

            // Foot Starts
            .foot
                // Container
                .container
                    .row
                        .col-md-3.col-sm-6
                            // Foot Item
                            .foot-item
                                // Heading
                                h5.bold
                                    i.fa.fa-user
                                    | &nbsp;&nbsp;About
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                p
                                    | Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .brand-bg
                                    // Social Media Icons
                                    a.facebook(href='#')
                                        i.fa.fa-facebook.circle-3
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.twitter(href='#')
                                        i.fa.fa-twitter.circle-3
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.google-plus(href='#')
                                        i.fa.fa-google-plus.circle-3
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.linkedin(href='#')
                                        i.fa.fa-linkedin.circle-3
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.pinterest(href='#')
                                        i.fa.fa-pinterest.circle-3
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .subscribe-box
                                    h5.bold Subscribe :
                                    // Form
                                    form(role='form')
                                        // Input Group
                                        .input-group
                                            input.form-control(type='text', placeholder='Enter Email Id')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            span.input-group-btn
                                                button.btn.btn-color(type='button') Subscribe
                        | &#x9;
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .col-md-3.col-sm-6
                            // Foot Item
                            .foot-item
                                // Heading
                                h5.bold
                                    i.fa.fa-comments
                                    | &nbsp;&nbsp;Recent Posts
                                // Foot Item Content
                                .foot-item-content
                                    ul.list-unstyled
                                        // Link
                                        li
                                            a(href='#') Denocing Sapientes Contain
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        li
                                            a(href='#') Dignissim Electronic Typeset
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        li
                                            a(href='#') Laborum Desktop Publishing
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        li
                                            a(href='#') Quibus PageMaker Including
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        li
                                            a(href='#') Denocing Sapientes Contain
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .col-md-3.col-sm-6
                            // Foot Item
                            .foot-item
                                // Heading
                                h5.bold
                                    i.fa.fa-picture-o
                                    | &nbsp;&nbsp;Recent Images
                                // Foot Item Content
                                .foot-item-content
                                    // Foot Recent Image
                                    .foot-recent-img
                                        a.lightbox(href='/publiciti/img/gallery/small/1.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/1.jpg', alt='')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a.lightbox(href='/publiciti/img/gallery/small/2.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/2.jpg', alt='')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a.lightbox(href='/publiciti/img/gallery/small/3.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/3.jpg', alt='')
                                    // Foot Recent Image
                                    .foot-recent-img
                                        a.lightbox(href='/publiciti/img/gallery/small/1.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/1.jpg', alt='')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a.lightbox(href='/publiciti/img/gallery/small/2.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/2.jpg', alt='')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a.lightbox(href='/publiciti/img/gallery/small/3.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/3.jpg', alt='')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .foot-recent-img
                                        a.lightbox(href='/publiciti/img/gallery/small/1.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/1.jpg', alt='')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a.lightbox(href='/publiciti/img/gallery/small/2.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/2.jpg', alt='')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a.lightbox(href='/publiciti/img/gallery/small/3.jpg')
                                            img.img-responsive.img-thumbnail(src='/publiciti/img/gallery/small/3.jpg', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .col-md-3.col-sm-6
                            // Foot Item
                            .foot-item
                                // Heading
                                h5.bold
                                    i.fa.fa-building-o
                                    | &nbsp;&nbsp;Contact Us
                                // Foot Item Content
                                .foot-item-content.address
                                    // Heading
                                    h6.bold
                                        i.fa.fa-home
                                        | &nbsp;&nbsp;Hanks Ltd
                                    // Paragraph
                                    p.add
                                        | Bharathi Nagar, South Cherry Road,
                                        br
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   North Bangalore - 535089.
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    p.tel
                                        i.fa.fa-phone
                                        |  Tel : + (833) - 839 8393
                                        br
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        i.fa.fa-envelope
                                        |   Mail :
                                        a(href='#') infodesk@uk.com
                                        br
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        i.fa.fa-calendar
                                        |  Business Hours : 9:30 - 5:30
            // Foot Ends

            // Footer Starts
            footer
                // Container
                .container
                    // Footer Content
                    // Paragraph
                    p.pull-left
                        | Copyright &copy; 2015 -
                        a(href='/') Publiciti
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul.list-inline.pull-right
                        // List
                        li
                            a(href='/') Início
                        li
                            a(href='/produtos') Produtos
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(href='/empresa') A Empresa
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(href='/contato') Contato
                    // Clearfix
                    .clearfix
            // Footer Ends
        // Outer Ends

        // Scroll to top
        span.totop
            a(href='#')
                i.fa.fa-angle-up.bg-color

        // Javascript files
        // jQuery
        script(src='/publiciti/js/jquery.js')
        // Bootstrap JS
        script(src='/publiciti/js/bootstrap.min.js')
        // Placeholders JS
        script(src='/publiciti/js/placeholders.js')
        // Magnific Popup
        script(src='/publiciti/js/jquery.magnific-popup.min.js')
        // Owl carousel
        script(src='/publiciti/js/owl.carousel.min.js')
        // Respond JS for IE8
        script(src='/publiciti/js/respond.min.js')
        // HTML5 Support for IE
        script(src='/publiciti/js/html5shiv.js')
        // Main JS
        script(src='/publiciti/js/main.js')
        // Javascript for this page
        // Custom JS. Type your JS code in custom.js file
        script(src='/publiciti/js/custom.js')