extends ../layout

block conteudo
  //
     ======== @Region: #highlighted ========
  #highlighted
    .container
      .header
        h2.page-title
          span Solicitação de Orçamento
          small Peça agora mesmo seu orçamento
  //
     ======== @Region: #content ========
  #content(ng-controller='Orcamento', ng-init='load()')
    .container
      .block
        .row
          div.hidden(class='alert alert-{{ status.type }}', ng-show='status.message.length > 0')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          form#orcamento-form(ng-submit='add()', name='orcamentoForm', novalidate)
              .col-sm-6
                  .form-group(ng-class="{ 'has-error' : orcamentoForm.solicitante.$invalid && !orcamentoForm.solicitante.$pristine }")
                    input.form-control(name='solicitante', id='solicitante', ng-model='orcamento.solicitante', type='text', placeholder='Nome do solicitante', required)
                    p(ng-show='orcamentoForm.solicitante.$invalid && !orcamentoForm.solicitante.$pristine', class='help-block') Solicitante inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.empresa.$invalid && !orcamentoForm.empresa.$pristine }")
                    input.form-control(name='empresa', id='empresa', ng-model='orcamento.empresa', type='text', placeholder='Nome da Empresa')
                    p(ng-show='orcamentoForm.empresa.$invalid && !orcamentoForm.empresa.$pristine', class='help-block') Nome da empresa muito curto ou inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.documento.$invalid && !orcamentoForm.documento.$pristine }")
                    input.form-control(name='documento', id='documento', ng-model='orcamento.documento', type='text', placeholder='CNPJ/CPF', ui-br-cpfcnpj-mask)
                    p(ng-show='orcamentoForm.documento.$invalid && !orcamentoForm.documento.$pristine', class='help-block') CNPJ/CPF inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.email.$invalid && !orcamentoForm.email.$pristine }")
                    input.form-control(name='email', id='email', ng-model='orcamento.email', type='email', placeholder='E-mail')
                    p(ng-show='orcamentoForm.email.$invalid && !orcamentoForm.email.$pristine', class='help-block') E-mail inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.telefone.$invalid && !orcamentoForm.telefone.$pristine }")
                    input.form-control(name='telefone', id='telefone', ng-model='orcamento.telefone', type='text', placeholder='Telefone', ui-br-phone-number)
                    p(ng-show='orcamentoForm.telefone.$invalid && !orcamentoForm.telefone.$pristine', class='help-block') Telefone inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.celular.$invalid && !orcamentoForm.celular.$pristine }")
                    input.form-control(name='celular', id='celular', ng-model='orcamento.celular', type='text', placeholder='Celular', ui-br-phone-number)
                    p(ng-show='orcamentoForm.celular.$invalid && !orcamentoForm.celular.$pristine', class='help-block') Celular inválido

                  .form-group
                    b Serviços Desejados
                    .row.form-group(ng-class="{ 'has-error' : curriculoForm.servico.$invalid && !curriculoForm.servico.$pristine }")
                      each servico in site.servicos
                        .col-sm-6
                          input(type='radio', ng-model='orcamento.servico', name='servico', value='#{servico}', required)
                          | &nbsp; #{servico}

                    p(ng-show='curriculoForm.servico.$invalid && !curriculoForm.servico.$pristine', class='help-block') Informe o tipo de serviço

              .col-sm-6
                  .form-group(ng-class="{ 'has-error' : orcamentoForm.endereco.$invalid && !orcamentoForm.endereco.$pristine }")
                    input.form-control(type='text', placeholder='Endereço', name='endereco', ng-model='orcamento.endereco', required)
                    p(ng-show='orcamentoForm.endereco.$invalid && !orcamentoForm.endereco.$pristine', class='help-block') Endereço inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.bairro.$invalid && !orcamentoForm.bairro.$pristine }")
                    input.form-control(type='text', placeholder='Bairro', name='bairro', ng-model='orcamento.bairro', required)
                    p(ng-show='orcamentoForm.bairro.$invalid && !orcamentoForm.bairro.$pristine', class='help-block') Bairro inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.cep.$invalid && !orcamentoForm.cep.$pristine }")
                    input.form-control(type='text', placeholder='CEP', name='cep', ng-model='orcamento.cep', required, ui-br-cep-mask)
                    p(ng-show='orcamentoForm.cep.$invalid && !orcamentoForm.cep.$pristine', class='help-block') CEP inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.estado.$invalid && !orcamentoForm.estado.$pristine }")
                    input.form-control(type='text', id='estado', placeholder='Estado', name='estado', ng-model='orcamento.estado', required)
                    p(ng-show='orcamentoForm.estado.$invalid && !orcamentoForm.estado.$pristine', class='help-block') Estado inválido

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.cidade.$invalid && !orcamentoForm.cidade.$pristine }")
                    input.form-control(type='text', id='cidade', placeholder='Cidade', name='cidade', ng-model='orcamento.cidade', required)
                    p(ng-show='orcamentoForm.cidade.$invalid && !orcamentoForm.cidade.$pristine', class='help-block') Cidade inválida

                  .form-group(ng-class="{ 'has-error' : orcamentoForm.mensagem.$invalid && !orcamentoForm.mensagem.$pristine }")
                    textarea.form-control(rows='5', placeholder='Mensagem Opcional', name='mensagem', ng-model='orcamento.mensagem', ng-minlength=5)
                    p(ng-show='orcamentoForm.mensagem.$invalid && !orcamentoForm.mensagem.$pristine', class='help-block') Mensagem muito curta

                  .form-group
                    input.btn.btn-primary(type='submit', value='Enviar Pedido', ng-disabled='orcamentoForm.$invalid')