extends ../layout

block conteudo
    .container
        .starter-template
            p
                span.glyphicon.glyphicon-home
                    | &nbsp;Rua José Maria da Luz, 573, Fundos, 55 - Bairro José Mendes - Florianópolis - SC
                br
                span.glyphicon.glyphicon-phone
                    | &nbsp;(48) 3304-8752
                br
                a(href='mailto:contato@projetocultural.esp.br')
                    span.glyphicon.glyphicon-envelope
                        | &nbsp;contato@projetocultural.esp.br
                br
