div(class='form-group', ng-class="{ 'has-error' : usuarioForm.email.$invalid && !usuarioForm.email.$pristine }")
    label(class='control-label') Título
    div(class='controls')
        input(type='text', class='form-control', ng-model='usuario.email', name='email', required)
        p(ng-show='usuarioForm.email.$invalid && !usuarioForm.email.$pristine', class='help-block') Título muito curto ou inválido

div(class='form-group', ng-class="{ 'has-error' : usuarioForm.password.$invalid && !usuarioForm.password.$pristine }")
    label(class='control-label') Senha
    div(class='controls')
        input(type='password', class='form-control', ng-model='usuario.password', name='password', required)
        p(ng-show='usuarioForm.password.$invalid && !usuarioForm.password.$pristine', class='help-block') senha muito curto ou inválido

div(class='control-group')
    div(class='controls')
        button(type='submit', class='btn btn-primary', ng-disabled='usuarioForm.$invalid') Salvar
        a(href='#/usuarios', class='btn') voltar