doctype
html(lang='pt', ng-app='app')
  head
    meta(charset='utf-8')
    title Librinke Distribuidora de Materiais Didáticos
    meta(name='description', content='/Librinke Distribuidora de Materiais Didáticos')
    meta(name='keywords', content='/librinke, distribuidora, materiais, material, didático, educativo, educação, papelaria, livro')
    meta(name='author', content='Thiago Paes <mrprompt@gmail.com>')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Styles
    //
       Bootstrap CSS
    link(href='/librinke/css/bootstrap.min.css', rel='stylesheet')
    //
       SLIDER REVOLUTION 4.x CSS SETTINGS
    link(href='/librinke/css/settings.css', rel='stylesheet')
    //
       FlexSlider Css
    link(rel='stylesheet', href='/librinke/css/flexslider.css', media='screen')
    //
       Portfolio CSS
    link(href='/librinke/css/prettyPhoto.css', rel='stylesheet')
    //
       Font awesome CSS
    link(href='/librinke/css/font-awesome.min.css', rel='stylesheet')
    //
       Custom Less
    link(href='/librinke/css/less-style.css', rel='stylesheet')
    //
       Custom CSS
    link(href='/librinke/css/style.css', rel='stylesheet')
    //if IE
      link(rel='stylesheet', href='/librinke/css/ie-style.css')
    //
       Favicon
    link(rel='shortcut icon', href='/librinke/img/favicon.ico')
  body
    #fb-root
      | &nbsp;

    //
       Page Wrapper
    .wrapper
      //
         Header Start
      .header
        .container
          .row
            .col-md-4.col-sm-5
              //
                 Link
              a(href='/')
                //
                   Logo area
                .logo
                  img.img-responsive(src='/librinke/img/logo-small.png', alt='/Librinke Distribuidora de Materiais Didáticos')
            .col-md-8.col-sm-7
              //
                 Navigation
              nav.navbar.navbar-default.navbar-right(role='navigation')
                .container-fluid
                  //
                     Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  //
                     Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='/empresa')
                          img.img-responsive(src='/librinke/img/nav-menu/nav4.jpg', alt='')
                          | A Librinke
                      li
                        a(href='/produtos?tipo=Uniformes')
                          img.img-responsive(src='/librinke/img/nav-menu/nav2.jpg', alt='')
                          | Uniformes
                      li
                        a(href='/produtos?tipo=Parques')
                          img.img-responsive(src='/librinke/img/nav-menu/nav1.jpg', alt='')
                          | Parques
                      li
                        a(href='/produtos?tipo=Livros')
                          img.img-responsive(src='/librinke/img/nav-menu/nav3.jpg', alt='')
                          | Livros
                      li
                        a(href='/contato')
                          img.img-responsive(src='/librinke/img/nav-menu/nav6.jpg', alt='')
                          | Contato
                  //
                     /.navbar-collapse
                //
                   /.container-fluid
        //
           / .container
      //
         Header End

      //
        container
      block conteudo
      //
        /.container

      //
         Footer Start
      .footer.padd
        .container
          .row
            .col-md-6.col-sm-6
              //
                 Footer widget
              .footer-widget
                // Heading
                h4 Sobre a Librinke

                //
                   Logo area
                .logo
                  img.img-responsive(src='/librinke/img/logo.png', alt='')
                  //
                     Heading
                  h1 Librinke
                //
                   Paragraph
                p
                  | Librinke Distribuidora de Materiais Didáticos
              //
                / Footer widget end

            .col-md-6.col-sm-6
              //
                 Footer widget
              .footer-widget.text-right
                //
                   Heading
                h4 Fale Conosco
                .contact-details
                  //
                     Address / Icon
                  i.fa.fa-map-marker.br-red.pull-right
                  span
                    | Rua 7 de Setembro, 220 - Centro 
                    |  - São José dos Pinhais - Paraná - Brasil
                  .clearfix

                  each telefone in site.telefones
                    //
                       Contact Number / Icon
                    i.fa.fa-phone.br-green.pull-right
                    span #{telefone}
                    .clearfix

                  //
                     Email / Icon
                  i.fa.fa-envelope-o.br-lblue.pull-right
                  span
                    a(href='mailto:contato@librinke.com.br') contato@librinke.com.br
                  .clearfix

              //
                / Footer widget end
          //
             Copyright
          .footer-copyright
            //
               Paragraph
            p
              | © Copyright 2014 - &nbsp;
              a(href='/') Librinke Distribuidora de Materiais Didáticos Ltda.
              br
              | Desenvolvido por 
              a(href='http://www.mrprompt.com.br', target='_blank') mrprompt
      //
         Footer End
    //
       / Wrapper End
    //
       Scroll to top
    span.totop
      a(href='#')
        i.fa.fa-angle-up

    //
       Javascript files
    script(src='/plugins/angularjs/angular.min.js')
    script(src='/plugins/angularjs/i18n/angular-locale_pt-br.js')
    script(src='/plugins/angularjs/angular-resource.min.js')
    script(src='/plugins/angularjs/angular-route.min.js')
    script(src='/plugins/angularjs/angular-sanitize.min.js')
    script(src='/plugins/angular-input-masks/releases/masks.min.js')
    script(src='/plugins/jquery/jquery.js')
    script(src='/plugins/bootstrap/dist/js/bootstrap.min.js')
    script(src='/librinke/app/filters.js')
    script(src='/librinke/app/directives.js')
    script(src='/librinke/app/services.js')
    script(src='/librinke/app/app.js')
    script(src='/librinke/app/controllers/inicio.js')
    script(src='/librinke/app/controllers/contato.js')
    script(src='/librinke/app/controllers/livros.js')
    script(src='/librinke/app/controllers/empresa.js')

    //
       SLIDER REVOLUTION 4.x SCRIPTS
    script(type='text/javascript', src='/librinke/js/jquery.themepunch.plugins.min.js')
    script(type='text/javascript', src='/librinke/js/jquery.themepunch.revolution.min.js')
    //
       FLEX SLIDER SCRIPTS
    script(defer='defer', src='/librinke/js/jquery.flexslider-min.js')
    //
       Pretty Photo JS
    script(src='/librinke/js/jquery.prettyPhoto.js')
    //
       Respond JS for IE8
    script(src='/librinke/js/respond.min.js')
    //
       HTML5 Support for IE
    script(src='/librinke/js/html5shiv.js')
    //
       Custom JS
    script(src='/librinke/js/custom.js')
