.col-lg-12(ng-init='load()')
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-female
        span.break
        | Uniformes Escolares
      .box-icon
        a.btn-plus(href='#/uniformes/adicionar')
          i.fa.fa-plus

    .box-content
        .block
          div(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          div(class='alert alert-warning', ng-show='uniformes.length == 0')
              | Você não possui nenhum uniforme cadastrado, cadastre um &nbsp;
              a(href='#/uniformes/adicionar') aqui

          table.table.table-striped.table-bordered.bootstrap-datatable.datatable(ng-show='uniformes.length')
              thead
                  tr
                      th Título
                      th Descrição
                      th

              tbody(ng-show='uniformes.length')
                  tr(ng-repeat='uniforme in uniformes | pagination: curPage * pageSize | limitTo: pageSize')
                      td {{ uniforme.titulo }}
                      td {{ uniforme.descricao }}
                      td
                          a(href='#/uniformes/editar/{{ uniforme._id }}', class='btn btn-mini btn-success')
                              span.fa.fa-edit &nbsp;
                          button(class='btn btn-mini btn-danger', ng-click='delete(uniforme._id)')
                              span.fa.fa-trash-o &nbsp;

      .block.text-center(ng-show='uniformes.length')
        ul.pagination.pagination-centered.inline.unstyled
          li
            a.btn.btn-link(ng-disabled='curPage === 0', ng-click='curPage = curPage - 1')
              | Voltar
          li
            span
              | Página {{ curPage + 1 }} de {{ paginas() }}
          li
            a.btn.btn-link(ng-disabled='curPage >= uniformes.length / pageSize - 1', ng-click='curPage = curPage + 1')
              | Avançar