/* Your CSS codes here */
@media (min-width: 720px) {
    .tb-contact {
        margin-left: 210px;
    }

    .header-2 {
        padding: 0;
    }

    .header-2 .logo {
        margin: 0;
    }

    .header-2 .logo img {
        position: absolute;
        z-index: 100;
        margin-top: -40px;
        width: 90%;
    }

    .carousel-inner img {
        width: 100%;
    }
}

.about-us-two {
    margin-top: 2em;
}