.col-lg-12
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-files-o
        span.break
        | Currículos

    .box-content
      div(class='alert alert-{{ status.type }}', ng-show='status')
        button(type='button', class='close', data-dismiss='alert') &times;
        | {{ status.message}}

      div(class='alert alert-warning', ng-show='curriculos.length == 0')
          | Você não possui nenhum currículo cadastrado,

      table.table.table-striped.table-bordered.bootstrap-datatable.datatable(ng-show='curriculos.length')
          thead
              tr
                  td.col-md-4 Nome
                  td.col-md-3 E-mail
                  td.col-md-3 Localização
                  td.col-md-1

          tbody(ng-show='curriculos.length')
              tr(ng-repeat='curriculo in curriculos | pagination: curPage * pageSize | limitTo: pageSize')
                  td {{ curriculo.nome }}
                  td {{ curriculo.email }}
                  td {{ curriculo.cidade }} - {{ curriculo.estado }}
                  td
                      a.btn.btn-success(href='#/curriculos/{{ curriculo._id }}')
                            i.fa.fa-search-plus
                      button(class='btn btn-mini btn-danger', ng-click='delete(curriculo._id)')
                          span.fa.fa-trash-o &nbsp;

  .block.text-center(ng-show='curriculos.length')
    ul.pagination.pagination-centered.inline.unstyled
      li
        a.btn.btn-link(ng-disabled='curPage === 0', ng-click='curPage = curPage - 1')
          | Voltar
      li
        span
          | Página {{ curPage + 1 }} de {{ paginas() }}
      li
        a.btn.btn-link(ng-disabled='curPage >= curriculos.length / pageSize - 1', ng-click='curPage = curPage + 1')
          | Avançar