extends ../layout

block conteudo
  //
     ======== @Region: #highlighted ========
  #highlighted
    .container
      .header
        h2.page-title
          span Contato
          small Entre em contato conosco
  //
     ======== @Region: #content ========
  #content(ng-controller='Contato', ng-init='load()')
    .container
      .block
        .row
          div.hidden(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          .col-sm-6
            form#contact-form(ng-submit='add()', name='contatoForm', novalidate)
              .form-group(ng-class="{ 'has-error' : contatoForm.nome.$invalid && !contatoForm.nome.$pristine }")
                input.form-control(type='text', placeholder='Nome', name='nome', ng-model='contato.nome', ng-minlength=5, required)
                p(ng-show='contatoForm.nome.$invalid && !contatoForm.nome.$pristine', class='help-block') Nome muito curto ou inválido

              .form-group(ng-class="{ 'has-error' : contatoForm.email.$invalid && !contatoForm.email.$pristine }")
                input.form-control(type='email', placeholder='E-mail', name='email', ng-model='contato.email', required)
                p(ng-show='contatoForm.email.$invalid && !contatoForm.email.$pristine', class='help-block') Informe um e-mail válido

              .form-group(ng-class="{ 'has-error' : contatoForm.telefone.$invalid && !contatoForm.telefone.$pristine }")
                input.form-control(type='telefone', placeholder='Telefone de contato', name='telefone', ng-model='contato.telefone', required, ui-br-phone-number)
                p(ng-show='contatoForm.telefone.$invalid && !contatoForm.telefone.$pristine', class='help-block') Informe um telefone válido

              .form-group(ng-class="{ 'has-error' : contatoForm.mensagem.$invalid && !contatoForm.mensagem.$pristine }")
                textarea.form-control(rows='15', placeholder='Mensagem', name='mensagem', ng-model='contato.mensagem', ng-minlength=5, required)
                p(ng-show='contatoForm.mensagem.$invalid && !contatoForm.mensagem.$pristine', class='help-block') Mensagem muito curta

              input.btn.btn-primary(type='submit', value='Enviar', ng-disabled='contatoForm.$invalid')

          .col-sm-6
            h3.block-title.sub-title
              span Outras formas de entrar em contato
            p
              abbr(title='Telefone') Tel.
              | :  (48) 3282-5525
            p
              abbr(title='Endereço eletrônico') E-mail
              | : rdo@rdoservicos.com.br
            p
              abbr(title='Endereço') End
              | : Rod. Maurício Sirotsky Sobrinho, 4567 - Jurerê Internacional

            a(href='https://maps.google.co.uk/maps?q=Brasil&ie=UTF8&hq=&hnear=Rodovia+Maurício+Sirotsky+Sobrinho,+4567+-+Jurerê+Internacional,Florianópolis+-+Santa+Catarina&gl=br&t=m&ll=-27.4383593,-48.4863676')
              img.img-polaroid(src='http://maps.googleapis.com/maps/api/staticmap?center=Rodovia+Maurício+Sirotsky+Sobrinho,+4567+-+Jurerê+Internacional,Florianópolis+-+Santa+Catarina&zoom=15&size=450x310&sensor=false&scale=1&markers=color:red', alt='Location map')
