.col-lg-12
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-bullhorn
        span.break
        | Área de atuação
      .box-icon
        a.btn-plus(href='#/atuacao/adicionar')
          i.fa.fa-plus

    .box-content
      div(class='alert alert-{{ status.type }}', ng-show='status')
        button(type='button', class='close', data-dismiss='alert') &times;
        | {{ status.message}}

      form(name='atuacaoForm', ng-submit='add()', class='form-vertical', novalidate)
        include _form