.col-lg-12(ng-init='load()')
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-gears
        span.break
        | Serviços Prestados
      .box-icon
        a.btn-plus(href='#/servicos/adicionar')
          i.fa.fa-plus

    .box-content
      .block
          div(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          div(class='alert alert-warning', ng-show='parceiros.length == 0')
              | Você não possui nenhum serviço cadastrado, cadastre um &nbsp;
              a(href='#/parceiros/adicionar') aqui

          table.table.table-striped.table-bordered.bootstrap-datatable.datatable(ng-show='servicos.length')
              thead
                  tr
                      td Nome
                      td Descrição
                      td.col-md-1(class='span2')

              tbody(ng-show='servicos.length')
                  tr(ng-repeat='servico in servicos | pagination: curPage * pageSize | limitTo: pageSize')
                      td {{ servico.titulo }}
                      td {{ servico.descricao }}
                      td
                          a(href='#/servicos/editar/{{ servico._id }}', class='btn btn-mini btn-success')
                              span.fa.fa-edit &nbsp;
                          button(class='btn btn-mini btn-danger', ng-click='delete(servico._id)')
                              span.fa.fa-trash-o &nbsp;

      .block.text-center(ng-show='servicos.length')
        ul.pagination.pagination-centered.inline.unstyled
          li
            a.btn.btn-link(ng-disabled='curPage === 0', ng-click='curPage = curPage - 1')
              | Voltar
          li
            span
              | Página {{ curPage + 1 }} de {{ paginas() }}
          li
            a.btn.btn-link(ng-disabled='curPage >= servicos.length / pageSize - 1', ng-click='curPage = curPage + 1')
              | Avançar

