doctype html
html
    head
        title Projeto Cultural
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/projetocultural/styles/bootstrap/css/bootstrap.css', rel='stylesheet')
        link(href='/projetocultural/styles/bootstrap/css/responsive.css', rel='stylesheet')
        link(href='/projetocultural/styles/wisdom/css/theme-green.css', rel='stylesheet')
        link(href='/projetocultural/styles/preview/preview.css', rel='stylesheet')
        link(href='font-icons/font-awesome.css', rel='stylesheet')
        link(href='/projetocultural/plugins/animateCss/animate.css', rel='stylesheet')
        //if IE 7
          link(href='font-icons/font-awesome-ie7.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic', rel='stylesheet', type='text/css')
        script(src='/projetocultural/plugins/modenizer/modernizr.custom.65882.js')
    body#home
        .page-header
            .navbar.navbar-static-top
                .navbar-inner.page-top-nav-wrap
                    .container
                        a.btn.btn-primary.hidden-desktop.pull-right(href='#null', data-toggle='collapse', data-target='.nav-collapse')
                            i.icon-reorder

                        a.brand(href='#home')
                            img.img-responsive(src="/projetocultural/images/logo-small.png")
                        .nav-collapse.collapse
                            ul.nav.nav-pills.pull-right.page-top-nav
                                li.active
                                    a(href='#home') Início
                                li
                                    a(href='#about-us') A Empresa
                                li
                                    a(href='#services') Serviços
                                li
                                    a(href='#process') Process
                                li
                                    a(href='#portfolio') Produtos
                                li
                                    a(href='#features') Features
                                li
                                    a(href='#contact') Contato

        #sequence.page-slider
            ul.sequence-canvas
                li.frame1
                    h1.welcome-title
                        | Projeto Cultural
                        br
                        small A Flat &amp; Responsive HTML5 Theme
                    img.device.thunder-bolt-display(src='/projetocultural/assets/slider/thunderboltDisplay-green.png')
                    img.device.mac-book-retina(src='/projetocultural/assets/slider/macBookRetina-green.png')
                    img.device.ipad-landscape(src='/projetocultural/assets/slider/ipadLandscape-green.png')
                    img.device.iphone(src='/projetocultural/assets/slider/iphone-green.png')
                li.frame2
                    img.iphone(src='/projetocultural/assets/slider/iphone-green.png')
                    .theme-features
                        h3.theme-feature.feature1 Responsive HTML5 Theme
                        br
                        h3.theme-feature.feature2 Retina Ready
                        br
                        h3.theme-feature.feature3 Css3 Powered Animation
                        br
                        h3.theme-feature.feature4 Detailed Documentation
                        br
                        h3.theme-feature.feature5 Over 350 Icons
                        br
                        h3.theme-feature.feature6 9 Corporate Color Themes
                li.frame3
                    img.device.mac-book-retina(src='/projetocultural/assets/slider/macBookRetina-green.png')
                    .theme-features
                        h3.theme-feature.feature1 Taken 8 Days for Planning
                        br
                        h3.theme-feature.feature2 5 Days for Designing &amp; Wireframing
                        br
                        h3.theme-feature.feature3 12 Days of Coding
                        br
                        h3.theme-feature.feature4 15 Days of Testing
                        br
                        h3.theme-feature.feature5 And Today Its Front Of You
                        br
                        h3.theme-feature.feature6
                            | Now Its
                            span.hidden-phone Your
                            |  Time To Grow Your Bussiness
            a.prev-slide.page-slider-nav(href='#prev-slide')
                i.icon-chevron-left
            a.next-slide.page-slider-nav(href='#next-slide')
                i.icon-chevron-right
            a.play-pause-page-slider.page-slider-nav.right-align(href='#pause-slide')
                i.icon-pause.slider-paused
                i.icon-play.slider-playing
            ul.page-slider-pagination
                li.current
                li
                li
        #about-us.about-us.page-section.justify
            .container
                .section-title(data-animation='fadeIn')
                    h3 About Us
                p.drop-cap(data-animation='fadeIn')
                    | Mollis diam, vulputate suscipit purus enim a nisl.
                    a(href='#null') Scelerisque
                    | , viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos. Per aliquam fringilla torquent. Semper lacus morbi sociis arcu nisl placerat massa sed. Viverra nisi laoreet tincidunt leo id nullam himenaeos dis integer dictum
                    a(href='#null') hendrerit
                    |  integer. Sed ut ornare in neque sed praesent cum volutpat. Lacinia
                    a(href='#null') faucibus
                    |  adipiscing duis quam molestie at risus aenean. Penatibus odio arcu natoque in aliquet. Conubia suspendisse luctus semper eros augue arcu lorem. Nostra fringilla nascetur rhoncus per nibh.
                .row-fluid
                    .span6(data-animation='fadeInLeft')
                        h4.subtitle
                            | Tellus Magnis Sit
                        p
                            | Ridiculus amet erat, fermentum hac sem. Potenti velit egestas, inceptos nunc amet. Orci malesuada, ut velit diam. Aenean pharetra nisi litora ornare dis et iaculis inceptos imperdiet sollicitudin suspendisse metus. Semper rutrum porta magnis facilisis cubilia? Dis ornare, montes morbi.
                        p
                            | Eget lorem dictumst taciti leo. Torquent dapibus nisl aptent sagittis morbi etiam feugiat sagittis odio posuere varius. Dignissim eu natoque nulla potenti diam elementum himenaeos? Suscipit orci lectus curae; iaculis sollicitudin risus luctus semper nostra? Lacus integer ornare tincidunt pharetra imperdiet.
                    .span6(data-animation='fadeInRight')
                        h4.subtitle
                            | Nulla Pretium Cras Pharetra
                        p
                            | Ridiculus amet erat, fermentum hac sem. Potenti velit egestas, inceptos nunc amet. Orci malesuada, ut velit diam. Aenean pharetra nisi litora ornare dis et iaculis inceptos imperdiet sollicitudin suspendisse metus. Semper rutrum porta magnis facilisis cubilia? Dis ornare, montes morbi.
                        p
                            | Eget lorem dictumst taciti leo. Torquent dapibus nisl aptent sagittis morbi etiam feugiat sagittis odio posuere varius. Dignissim eu natoque nulla potenti diam elementum himenaeos? Suscipit orci lectus curae; iaculis sollicitudin risus luctus semper nostra? Lacus integer ornare tincidunt pharetra imperdiet.
        .hero-unit
            .container
                .row-fluid
                    .span4
                        h2.hero-unit-title(data-animation='fadeInLeft') Wisdom App
                    .span4
                    .span4
                        a.btn.btn-large.btn-block.hero-btn(href=' https://wrapbootstrap.com/theme/wisdom-one-pager-WB0TK5663  ', data-animation='fadeInRight')
                            i.icon-download-alt
                            | Download 12$
        #services.services.page-section
            .container
                .row-fluid
                    .span8
                        .service-item
                            .row-fluid
                                .span4(data-animation='fadeInRight')
                                    .service-icon
                                        i.icon-html5
                                .span8(data-animation='fadeInLeft')
                                    h4.subtitle HTML5 Sementic Markup
                                    p
                                        | Phasellus phasellus eu tempor conubia, donec at tellus cum at tellus laoreet. Lorem dictumst pulvinar nec fringilla nulla. Commodo vehicula dui lacinia curae; placerat elementum ullamcorper in cras. Tempus orci ut tristique curabitur diam tincidunt pulvinar.
                        .hz-divider.default
                        .service-item
                            .row-fluid
                                .span4(data-animation='fadeInLeft', data-animation-delay='.4s')
                                    .service-icon
                                        i.icon-resize-full
                                .span8(data-animation='fadeInRight', data-animation-delay='.4s')
                                    h4.subtitle Responsive Layout
                                    p
                                        | Phasellus phasellus eu tempor conubia, donec at tellus cum at tellus laoreet. Lorem dictumst pulvinar nec fringilla nulla. Commodo vehicula dui lacinia curae; placerat elementum ullamcorper in cras. Tempus orci ut tristique curabitur diam tincidunt pulvinar.
                    .span4
                        .service-item.text-center
                            .row-fluid
                                div(data-animation='fadeInUp', data-animation-delay='.2s')
                                    .service-icon
                                        i.icon-css3
                                div(data-animation='fadeInDown', data-animation-delay='.2s')
                                    h4.subtitle Css3 Powered
                                    p
                                        | Phasellus phasellus eu tempor conubia, donec at tellus cum at tellus laoreet. Lorem dictumst pulvinar nec fringilla nulla. Commodo vehicula dui lacinia curae; placerat elementum ullamcorper in cras. Tempus orci ut tristique curabitur diam tincidunt pulvinar.
        #process.processes.page-section
            .container
                .section-title.seprator
                    h3 How Do We Work
                .row-fluid
                    .span3(data-animation='fadeInRight')
                        .process-item
                            .icon
                                i.icon-lightbulb
                            h4.title Plan
                            p
                                | Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos.
                    .span3(data-animation='fadeInRight', data-animation-delay='.2s')
                        .process-item
                            .icon
                                i.icon-pencil
                            h4.title Design
                            p
                                | Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos.
                    .span3(data-animation='fadeInRight', data-animation-delay='.4s')
                        .process-item
                            .icon
                                i.icon-code
                            h4.title Code
                            p
                                | Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos.
                    .span3(data-animation='fadeInRight', data-animation-delay='.6s')
                        .process-item
                            .icon
                                i.icon-truck.icon-flip-horizontal
                            h4.title Release
                            p
                                | Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos.
        #portfolio.portfolio.page-section
            .container
                .section-title.seprator
                    h3 Portfolio
                .row-fluid
                    .span3
                        .portfolio-item(data-animation='bounceIn')
                            .image
                                img(src='/projetocultural/assets/portfolio/doctore.png')
                            .content
                                h4.subtitle
                                    | Lorem Ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                            .links
                                a.btn(href='#null')
                                    i.icon-plus
                                    | More
                                | &nbsp;&nbsp;
                                a.btn(href='#null')
                                    i.icon-ok
                                    | Action
                    .span3(data-animation='bounceIn', data-animation-delay='.2s')
                        .portfolio-item
                            .image
                                img(src='/projetocultural/assets/portfolio/dribbble_monster_1x.jpg')
                            .content
                                h4.subtitle
                                    | Lorem Ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                            .links
                                a.btn(href='#null')
                                    i.icon-plus
                                    | More
                                | &nbsp;&nbsp;
                                a.btn(href='#null')
                                    i.icon-ok
                                    | Action
                    .span3(data-animation='bounceIn', data-animation-delay='.4s')
                        .portfolio-item
                            .image
                                img(src='/projetocultural/assets/portfolio/dribbble_owl.png')
                            .content
                                h4.subtitle
                                    | Lorem Ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                            .links
                                a.btn(href='#null')
                                    i.icon-plus
                                    | More
                                | &nbsp;&nbsp;
                                a.btn(href='#null')
                                    i.icon-ok
                                    | Action
                    .span3(data-animation='bounceIn', data-animation-delay='.6s')
                        .portfolio-item
                            .image
                                img(src='/projetocultural/assets/portfolio/dribbble_pig_1x.jpg')
                            .content
                                h4.subtitle
                                    | Lorem Ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                            .links
                                a.btn(href='#null')
                                    i.icon-plus
                                    | More
                                | &nbsp;&nbsp;
                                a.btn(href='#null')
                                    i.icon-ok
                                    | Action
        .pricing-table-wrap
            .container
                .row-fluid
                    .span3.offset1
                        ul.pricing-table(data-animation='fadeInLeft')
                            li.title
                                h3 Basic
                            li
                            li
                                strong 20GB
                                |  Storage
                            li
                                strong 15
                                |  Email Addresses
                            li
                                strong 5
                                |  Domains
                            li
                                strong Unlimited
                                |  Bandwidth
                            li
                                strong Endless
                                |  Support
                            li.price
                                | 5
                                small $
 
                            li.action
                                a.btn.btn-large(href='#')
                                    i.icon-unlock-alt
                                    | Sign Up
 
                    .span4
                        ul.pricing-table.preffered-plan(data-animation='fadeInLeft', data-animation-delay='.2s')
                            li.title
                                h3 Pro
 
                            li
 
                            li
                                strong 50GB
                                |  Storage
 
                            li
                                strong 15
                                |  Email Addresses
 
                            li
                                strong 5
                                |  Domains
 
                            li
                                strong Unlimited
                                |  Bandwidth
 
                            li
                                strong Endless
                                |  Support
 
                            li.price
                                | 10
                                small $
 
                            li.action
                                a.btn.btn-large(href='#')
                                    i.icon-unlock-alt
                                    | Sign Up
 
                    .span3
                        ul.pricing-table(data-animation='fadeInLeft', data-animation-delay='.4s')
                            li.title
                                h3 Bussiness
 
                            li
 
                            li
                                strong 20GB
                                |  Storage
 
                            li
                                strong 15
                                |  Email Addresses
 
                            li
                                strong 5
                                |  Domains
 
                            li
                                strong Unlimited
                                |  Bandwidth
 
                            li
                                strong Endless
                                |  Support
 
                            li.price
                                | 15
                                small $
 
                            li.action
                                a.btn.btn-large(href='#')
                                    i.icon-unlock-alt
                                    | Sign Up
 
        #features.features.page-section
            .container
                .section-title.seprator
                    h3 Features/Shortcodes
 
                .row-fluid
                    .span4.btn-preview(data-animation='fadeInLeft')
                        h4.subtitle Buttons
 
                        div
                            blockquote
                                h5 Sizes
 
                            a.btn.btn-large(href='#null') Large Button
 
                            a.btn(href='#null') Default
 
                            a.btn.btn-small(href='#null') Small
 
                            a.btn.btn-mini(href='#null') Mini
 
                            .hz-divider.tiny
 
                        div
                            blockquote
                                h5 Colors
 
                            a.btn(href='#null') Button
 
                            a.btn.red(href='#null') Button
 
                            a.btn.green(href='#null') Button
 
                            a.btn.orange(href='#null') Button
 
                            a.btn.yellow(href='#null') Button
 
                            a.btn.purple(href='#null') Button
 
                            a.btn.dark-blue(href='#null') Button
 
                            a.btn.blue(href='#null') Button
 
                            a.btn.grey(href='#null') Button
 
                            a.btn.light-grey(href='#null') Button
 
                            .hz-divider.tiny
 
                        div
                            blockquote
                                h5 With Icons
 
                            a.btn(href='#null')
                                i.icon-bell
                                | Button
 
                            a.btn(href='#null')
                                i.icon-bookmark-empty
                                | Button
 
                            a.btn(href='#null')
                                i.icon-calendar-empty
                                | Button
 
                            a.btn(href='#null')
                                i.icon-comment-alt
                                | Button
 
                            .hz-divider.tiny
 
                        div
                            blockquote
                                h5 Group Of Icons Button
 
                            .btn-group
                                a.btn(href='#null')
                                    i.icon-align-left
 
                                a.btn(href='#null')
                                    i.icon-align-center
 
                                a.btn(href='#null')
                                    i.icon-align-right
 
                                a.btn(href='#null')
                                    i.icon-align-justify
 
                        .hz-divider.tiny
 
                        blockquote
                            h5 Button Dropdown
 
                        .btn-group
                            button.btn.dropdown-toggle(data-toggle='dropdown')
                                | Action
                                i.icon-chevron-down
 
                            ul.dropdown-menu
                                li
                                    a(href='#null') Action
 
                                li
                                    a(href='#null') Another action
 
                                li
                                    a(href='#null') Something else here
 
                                li.divider
 
                                li
                                    a(href='#null') Separated link
 
                        .btn-group
                            button.btn Action
 
                            button.btn.dropdown-toggle(data-toggle='dropdown')
                                i.icon-chevron-down
 
                            ul.dropdown-menu
                                li
                                    a(href='#null') Action
 
                                li
                                    a(href='#null') Another action
 
                                li
                                    a(href='#null') Something else here
 
                                li.divider
 
                                li
                                    a(href='#null') Separated link
 
                    .span8(data-animation='fadeInRight')
                        h4.subtitle Forms
 
                        div
                            blockquote
                                h5 Tooltips
 
                            ul.tooltip-demo.clearfix
                                li
                                    a(href='#', data-toggle='tooltip', data-placement='top', title='', data-original-title='Tooltip on top') Tooltip on top
 
                                li
                                    a(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='Tooltip on right') Tooltip on right
 
                                li
                                    a(href='#', data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') Tooltip on bottom
 
                                li
                                    a(href='#', data-toggle='tooltip', data-placement='left', title='Tooltip on left') Tooltip on left
 
                        div
                            blockquote
                                h5 Popover
 
                            .row-fluid
                                .span6
                                    ul.tooltip-demo
                                        li
                                            a.btn(href='#', data-toggle='popover', data-placement='top', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', title='', data-original-title='Popover on top') Top
 
                                        li
                                            a.btn(href='#', data-toggle='popover', data-placement='right', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', title='', data-original-title='Popover on right') Right
 
                                        li
                                            a.btn(href='#', data-toggle='popover', data-placement='bottom', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', title='', data-original-title='Popover on bottom') Bottom
 
                                        li
                                            a.btn(href='#', data-toggle='popover', data-placement='left', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', title='', data-original-title='Popover on left') Left
 
                .hz-divider
 
                .row-fluid
                    .span6(data-animation='fadeInLeft')
                        h3.subtitle Navs
 
                        div
                            blockquote
                                h5 Pills
 
                            ul.nav.nav-pills
                                li.active
                                    a(href='#null') Home
 
                                li
                                    a(href='#null') Profile
 
                                li
                                    a(href='#null') Messages
 
                        .hz-divider.tiny
 
                        div
                            blockquote
                                h5 Tabs
 
                            ul.nav.nav-tabs
                                li.active
                                    a(href='#null') Home
 
                                li
                                    a(href='#null') Profile
 
                                li
                                    a(href='#null') Messages
 
                        .hz-divider.tiny
 
                        .row-fluid
                            .span6
                                div
                                    blockquote
                                        h5 Stacked Pills
 
                                    ul.nav.nav-pills.nav-stacked
                                        li.active
                                            a(href='#null') Home
 
                                        li
                                            a(href='#null') Profile
 
                                        li
                                            a(href='#null') Messages
 
                            .span6
                                div
                                    blockquote
                                        h5 Stacked
 
                                    ul.nav.nav-tabs.nav-stacked
                                        li.active
                                            a(href='#null') Home
 
                                        li
                                            a(href='#null') Profile
 
                                        li
                                            a(href='#null') Messages
 
                        .hz-divider.tiny
 
                        .row-fluid
                            .span12
                                div(data-animation='fadeInLeft')
                                    blockquote
                                        h5 Tabbable Nav
 
                                    .tabbable
                                        ul.nav.nav-tabs
                                            li.active
                                                a(href='#tab1', data-toggle='tab') Section 1
 
                                            li
                                                a(href='#tab2', data-toggle='tab') Section 2
 
                                            li
                                                a(href='#tab3', data-toggle='tab') Section 3
 
                                        .tab-content
                                            #tab1.tab-pane.active
                                                p I&apos;m in Section 1.
 
                                                p
                                                    | Ac in libero per ligula potenti cursus fringilla lobortis consequat at. Lacus porta varius, adipiscing faucibus. Elit in turpis porttitor hac himenaeos vulputate faucibus sociosqu egestas.
 
                                            #tab2.tab-pane
                                                p Howdy, I&apos;m in Section 2.
 
                                                p
                                                    | Lacus porta varius,at. adipiscing faucibus. Elit in tuAc in libero per ligula potenti cursus fringilla lobortis consequat rpis porttitor hac himenaeos vulputate faucibus sociosqu egestas.
 
                                            #tab3.tab-pane
                                                p What up Guys, this is Section 3.
 
                                                p
                                                    | adipiscing faucibus. Elit in tAc in libero per ligula potenti cursus fringilla lobortis consequat at. Lacus porta varius, urpis porttitor hac himenaeos vulputate faucibus sociosqu egestas.
 
                    .span6
                        div(data-animation='fadeInRight')
                            h3.subtitle.clearfix Breadcrumbs
 
                            div
                                blockquote
                                    h5 Style 1
 
                                ul.breadcrumb
                                    li
                                        a(href='#null') Home
 
                                        span.divider /
 
                                    li
                                        a(href='#null') Library
 
                                        span.divider /
 
                                    li.active Data
 
                            div
                                blockquote
                                    h5 Style 2
 
                                ul.breadcrumb
                                    li
                                        a(href='#null') Home
 
                                        i.icon-chevron-right.divider
 
                                    li
                                        a(href='#null') Library
 
                                        i.icon-chevron-right.divider
 
                                    li.active Data
 
                        .hz-divider.tiny
 
                        div(data-animation='fadeInRight')
                            h3.subtitle Pagination
 
                            .pagination.pagination-large
                                ul
                                    li
                                        a(href='#null') Prev
 
                                    li
                                        a(href='#null') 1
 
                                    li
                                        a(href='#null') 2
 
                                    li
                                        a(href='#null') 3
 
                                    li
                                        a(href='#null') 4
 
                                    li
                                        a(href='#null') 5
 
                                    li
                                        a(href='#null') Next
 
                            .pagination
                                ul
                                    li
                                        a(href='#null') Prev
 
                                    li
                                        a(href='#null') 1
 
                                    li
                                        a(href='#null') 2
 
                                    li
                                        a(href='#null') 3
 
                                    li
                                        a(href='#null') 4
 
                                    li
                                        a(href='#null') 5
 
                                    li
                                        a(href='#null') Next
 
                            .pagination.pagination-small
                                ul
                                    li
                                        a(href='#null') Prev
 
                                    li
                                        a(href='#null') 1
 
                                    li
                                        a(href='#null') 2
 
                                    li
                                        a(href='#null') 3
 
                                    li
                                        a(href='#null') 4
 
                                    li
                                        a(href='#null') 5
 
                                    li
                                        a(href='#null') Next
 
                            .pagination.pagination-mini
                                ul
                                    li
                                        a(href='#null') Prev
 
                                    li
                                        a(href='#null') 1
 
                                    li
                                        a(href='#null') 2
 
                                    li
                                        a(href='#null') 3
 
                                    li
                                        a(href='#null') 4
 
                                    li
                                        a(href='#null') 5
 
                                    li
                                        a(href='#null') Next
 
                        h3.subtitle Modal Popup
 
                        a.btn.btn-primary.btn-large(data-toggle='modal', href='#myModal') Launch demo
 
                        #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
 
                                h3#myModalLabel Modal Heading
 
                            h4 Text in a modal
 
                            p
                                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.
 
                            h4 Popover in a modal
 
                            p
                                | This
                                a.btn.popover-test(href='#null', role='button', title='', data-content="And here's some amazing content. It's very engaging. right?", data-original-title='A Title') button
                                |  should trigger a popover on click.
 
                            h4 Tooltips in a modal
 
                            p
                                a.tooltip-test(href='#null', title='', data-original-title='Tooltip') This link
                                |  and
                                a.tooltip-test(href='#null', title='', data-original-title='Tooltip') that link
                                |  should have tooltips on hover.
 
                            hr
 
                            h4 Overflowing text to show optional scrollbar
 
                            p
                                | We set a fixed
                                code max-height
                                |  on the
                                code .modal-body
                                | . Watch it overflow with all this extra lorem ipsum text we&apos;ve included.
 
                            p
                                | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
 
                            p
                                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
 
                            p
                                | Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
 
                            p
                                | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
 
                            p
                                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
 
                            p
                                | Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
 
                            .modal-footer
                                button.btn(data-dismiss='modal') Close
 
                                button.btn.btn-primary Save changes
 
        #contact.contact-us.page-section
            .container
                .section-title.seprator(data-animation='fadeIn')
                    h3 Contact Us
 
                #gmap.map(data-animation='fadeIn')
 
                .hz-divider
 
                .contact-form.row-fluid
                    .span6(data-animation='fadeInLeft')
                        .section-title.seprator
                            h3 Our Address
 
                        .row-fluid
                            .span6(data-animation='fadeInLeft')
                                h4.primary-color Jon Doe
 
                                p
                                    | 4066 Gentle Towers
                                    br
                                    |                                 Zumbro Falls,Maine
                                    br
                                    |                                 Pin - 04641-9422
 
                                span.primary-color Phone
 
                                span : (207) 605-9818
 
                                br
 
                                span.primary-color Email
 
                                span : email@yoursite.com
 
                                br
 
                            .span6(data-animation='fadeInLeft', data-animation-delay='.2s')
                                .hz-divider.visible-phone
 
                                h4.primary-color William Stevens
 
                                p
                                    | 4066 Gentle Towers
                                    br
                                    |                                 Zumbro Falls,Maine
                                    br
                                    |                                 Pin - 04641-9422
 
                                span.primary-color Phone
 
                                span : (207) 605-9818
 
                                br
 
                                span.primary-color Email
 
                                span : email@yoursite.com
 
                                br
 
                    .hz-divider.visible-phone
 
                    .span6(data-animation='fadeInRight')
                        .section-title.seprator
                            h3 Talk To Us
 
                        form
                            .row-fluid
                                .span6
                                    input.input-block-level(type='text', placeholder='Name')
 
                                    br
 
                                    input.input-block-level(type='text', placeholder='Email')
 
                            textarea.input-block-level(placeholder='Type Your Message Here...', rows='5')
 
                            input.btn(type='button', value='Send Message')
 
                            input.btn.pull-right(type='reset', value='Reset')
 
        .page-footer.page-section
            .container
                .row-fluid
                    .span4
                        h4.footer-title
                            | Recent Posts
                            span.post-controls.pull-right
                                a.post-prev.btn.btn-mini(href='#prev')
                                    i.icon-chevron-up
 
                                a.post-next.btn.btn-mini(href='#next')
                                    i.icon-chevron-down
 
                        .post-wrapper
                            .post-slider
                                .post-item
                                    img(src='/projetocultural/assets/100/1.jpg')
 
                                    h5.post-item-title
                                        | A felis nascetur platea
                                        a.pull-right(href='#null')
                                            i.icon-link
 
                                    p
                                        | Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.
 
                                .post-item
                                    img(src='/projetocultural/assets/100/2.jpg')
 
                                    h5.post-item-title
                                        | A felis nascetur platea
                                        a.pull-right(href='#null')
                                            i.icon-link
 
                                    p
                                        | Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.
 
                                .post-item
                                    img(src='/projetocultural/assets/100/3.jpg')
 
                                    h5.post-item-title
                                        | A felis nascetur platea
                                        a.pull-right(href='#null')
                                            i.icon-link
 
                                    p
                                        | Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.
 
                                .post-item
                                    img(src='/projetocultural/assets/100/4.jpg')
 
                                    h5.post-item-title
                                        | A felis nascetur platea
                                        a.pull-right(href='#null')
                                            i.icon-link
 
                                    p
                                        | Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.
 
                                .post-item
                                    img(src='/projetocultural/assets/100/5.jpg')
 
                                    h5.post-item-title
                                        | A felis nascetur platea
                                        a.pull-right(href='#null')
                                            i.icon-link
 
                                    p
                                        | Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.
 
                                .post-item
                                    img(src='/projetocultural/assets/100/6.jpg')
 
                                    h5.post-item-title
                                        | A felis nascetur platea
                                        a.pull-right(href='#null')
                                            i.icon-link
 
                                    p
                                        | Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.
 
                    .hz-divider.visible-phone
 
                    .span4
                        h4.footer-title
                            | Testimonials
                            span.testimonial-controls.pull-right
                                a.testimonial-prev.btn.btn-mini(href='#prev')
                                    i.icon-chevron-left
 
                                a.testimonial-next.btn.btn-mini(href='#next')
                                    i.icon-chevron-right
 
                        .testimonial-wrapper
                            .testimonial-slider
                                .testimonial-item
                                    img(src='/projetocultural/assets/300/5.jpg')
 
                                    .content
                                        h5 Jane Doe
 
                                        p
                                            | Fusce eget amet lorem id pretium in ac lobortis mus placerat blandit penatibus. Faucibus, a vulputate.
 
                                        p
                                            | Ipsum ultrices metus proin. Interdum tortor justo mi sapien dapibus justo fermentum nulla molestie.
 
                                .testimonial-item
                                    img(src='/projetocultural/assets/300/3.jpg')
 
                                    .content
                                        h5 William Stevens
 
                                        p
                                            | Fusce eget amet lorem id pretium in ac lobortis mus placerat blandit penatibus. Faucibus, a vulputate.
 
                                .testimonial-item
                                    img(src='/projetocultural/assets/300/4.jpg')
 
                                    .content
                                        h5 James Watson
 
                                        p
                                            | Fusce eget amet lorem id pretium in ac lobortis mus placerat blandit penatibus. Faucibus, a vulputate.
 
                                        p
                                            | Ipsum ultrices metus proin. Interdum tortor justo mi sapien dapibus justo fermentum nulla molestie.
 
                    .hz-divider.visible-phone
 
                    .span4
                        h4.footer-title Stay Connected
 
                        .social-links
                            a(href='#null')
                                img(src='/projetocultural/images/icon/facebook.png', alt='')
 
                            a(href='#null')
                                img(src='/projetocultural/images/icon/googleplus.png', alt='')
 
                            a(href='#null')
                                img(src='/projetocultural/images/icon/linkedin.png', alt='')
 
                            a(href='#null')
                                img(src='/projetocultural/images/icon/pinterest.png', alt='')
 
                            a(href='#null')
                                img(src='/projetocultural/images/icon/skype.png', alt='')
 
                            a(href='#null')
                                img(src='/projetocultural/images/icon/twitter.png', alt='')
 
                            a(href='#null')
                                img(src='/projetocultural/images/icon/youtube.png', alt='')
 
                        h4.footer-title Monthly Newsletter
 
                        .newsletter
                            form
                                .input-append.row-fluid
                                    input.span7(type='text', placeholder='Type You Email...')
 
                                    input.btn(type='button', value='Subscribe')
 
                            p
                                | Subscribe to our newsletter and get exclusive deals you won&apos;t find anywhere else straight to your inbox!
 
        script(src='/projetocultural/scripts/jquery-1.9.1.min.js')
        // <script src="/projetocultural/scripts/jquery-migrate-1.2.1.js"></script>
        // <script src="/projetocultural/plugins/jquery-easing/jquery.easing.1.3.js"></script>
        script(src='/projetocultural/scripts/bootstrap.js')
 
        script(src='/projetocultural/plugins/jquery-bxslider/jquery.bxslider.js')
 
        script(src='/projetocultural/plugins/jquery-waypoints/waypoints.js')
 
        script(src='/projetocultural/plugins/jquery-waypoints/waypoints-sticky.js')
        // <script src="/projetocultural/plugins/jquery-fittext/jquery.fittext.js"></script>
        script(src='/projetocultural/plugins/jquery-sequense/jquery.sequence.js')
 
        script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
 
        script(src='/projetocultural/scripts/wisdom.js')
