extends ../layout

block conteudo
  .banner.padd
    .container
      img.img-responsive(src='/librinke/img/crown.png', alt='')
      h2.white Uniformes Escolares
      ol.breadcrumb
        li
          a(href='/') Início
        li.active uniformes
      .clearfix
  .inner-page
    .shopping
      .container
        .shopping-content
          .row
            each uniforme in uniformes
              if uniforme.imagem
                .col-md-3.col-sm-6
                  .shopping-item
                    a(href='/uniformes/#{uniforme._id}')
                      img.img-responsive(src='#{uniforme.imagem.url}', alt='')
                    h4.pull-left
                      a(href='/uniformes/#{uniforme._id}') #{uniforme.titulo}
                    .clearfix