.col-lg-12
  .box
    .box-header(data-original-title='')
      h2
        i.fa.fa-users
        span.break
        | Equipe
      .box-icon
        a.btn-plus(href='#/equipe/adicionar')
          i.fa.fa-plus

    .box-content
        .block
          div(class='alert alert-{{ status.type }}', ng-show='status')
              button(type='button', class='close', data-dismiss='alert') &times;
              | {{ status.message}}

          form(ng-submit='edit()', ng-init='get()', class='form-vertical', name='equipeForm', novalidate)
              include _form