.row
    .col-sm-6
        div(class='form-group', ng-class="{ 'has-error' : siteForm.nome.$invalid && !siteForm.nome.$pristine }")
            label(class='control-label') Nome
            div(class='controls')
                input(type='text', class='form-control', ng-model='site.nome', ng-minlength=5, name='nome', required)
                p(ng-show='siteForm.nome.$invalid && !siteForm.nome.$pristine', class='help-block') Nome muito curto ou inv치lido

        div(class='form-group', ng-class="{ 'has-error' : siteForm.email.$invalid && !siteForm.email.$pristine }")
            label(class='control-label') E-mail
            div(class='controls')
                input(type='email', class='form-control', ng-model='site.email', name='email', required)
                p(ng-show='siteForm.email.$invalid && !siteForm.email.$pristine', class='help-block') E-mail inv치lido

    .col-sm-6
        div(class='form-group', ng-class="{ 'has-error' : siteForm.dominio.$invalid && !siteForm.dominio.$pristine }")
            label(class='control-label') dominio
            div(class='controls')
                input(type='text', class='form-control', ng-model='site.dominio', name='dominio', required)
                p(ng-show='siteForm.dominio.$invalid && !siteForm.dominio.$pristine', class='help-block') dominio muito curto ou inv치lido

        div(class='form-group', ng-class="{ 'has-error' : siteForm.modulos.$invalid && !siteForm.modulos.$pristine }")
            label(class='control-label') modulos
            div(class='controls')
                input(type='text', class='form-control', ng-model='site.modulos', name='modulos', required)
                p(ng-show='siteForm.modulos.$invalid && !siteForm.modulos.$pristine', class='help-block') modulos muito curto ou inv치lido

.row
    .col-sm-12
        div(class='control-group')
            div(class='controls')
                button(type='submit', class='btn btn-primary', ng-disabled='siteForm.$invalid') Salvar
                a(href='#/sites', class='btn') voltar