extends ../layout

block conteudo
  // Page heading two starts
  .page-heading-two
    .container
      h2
        | Entre em Contato
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .breads
        | Início &nbsp; / &nbsp;
        a(href='/contato') Contato
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .clearfix
  // Page heading two ends

  .container
    .contact-us-two
      .row
        .col-md-5
          // Contact Form
          .contact-form
            h5 Fale conosco
            // Form
            form.form(role='form')
              // Form Group
              .form-group
                input#name.form-control(type='text', placeholder='Nome')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .form-group
                input#email.form-control(type='text', placeholder='E-mail')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .form-group
                textarea#comments.form-control(rows='7', placeholder='Sua mensagem')
              // Button
              button.btn.btn-red(type='button') Enviar
              | &nbsp;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              button.btn.btn-default(type='button') Limpar
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        .col-md-7
          // Contact map
          .contact-map
            h5 Localização
            // Map Link
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15615.590366449029!2d79.823997513746!3d11.912214884509545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x948a846878ea738c!2sAchariya+Bala+Siksha+Mandir!5e0!3m2!1sen!2sin!4v1402563074325')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          hr
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .row.text-center
        .col-md-3.col-sm-6
          // Contact Item
          .contact-item.bg-red
            // Icon
            i.fa.fa-phone
            // Heading
            h4 Telefone
            // Paragraph
            p
              | Tel : +55 (48) 3248-5414
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | Mob : +55 (48) 3248-5414
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        .col-md-3.col-sm-6
          // Contact Item
          .contact-item.bg-lblue
            i.fa.fa-building-o
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            h4 Endereço
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Rua Felipe Neves, 933
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Estreito - Florianópolis - SC.
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        .col-md-3.col-sm-6
          // Contact Item
          .contact-item.bg-green
            i.fa.fa-envelope
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            h4 E-mails
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              a(href='mailto:contato@publiciti.com.br') contato@publiciti.com.br
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='mailto:vendas@publiciti.com.br') vendas@publiciti.com.br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        .col-md-3.col-sm-6
          // Contact Item
          .contact-item.bg-purple
            i.fa.fa-calendar-o
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            h4 Atendimento
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Horário : 9:30 ~ 18:30
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Segunda a Sexta
